@font-face {
  font-family: UNDERTALE;
  src: url("./fonts/UNDERTALE.woff") format('woff');
}
html {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

}
body{
  background-image: url(./images/bizhi.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: -8px; /* 去除body的默认边距 */
  background-color: transparent;
}
/*全局设置字体*/
video{
  position: fixed;
  right:0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}

*{
  font-size: medium;
  font-family:'SF Pro', sans-serif;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  color: white;
  opacity: 1;
}
h2{
  
  text-align: center;
}
header{
  position: fixed;
  z-index: 999;
  text-align: center;
  top: 0;
}
a{
  color: #f57c3a;
  text-decoration: None;
}
a:hover{
  color: rgba(255, 255, 255, 0.73);
  text-decoration: #ee0000;
  cursor:pointer;
  border-bottom: 1px solid red;
}
li {
  display: inline-block;
  margin: 10px;

}
img{
  vertical-align: middle;
}
p{
  vertical-align: middle;
}
input[type="checkbox"] {
  /*OFF*/
  appearance: none;
  width: 64px;
  height: 32px;
  position: relative;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.32);
}
input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  /*BUTTON COLOR*/
  background: rgb(255, 255, 255);
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: left cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
input[type="checkbox"]:after {
  content: '🌑  🌝';
  text-indent: 9px;
  word-spacing: 2px;
  display: inline-block;
  white-space: nowrap;
  color: white;
  font: 14px/30px monospace;
  font-weight: bold;
}
input[type="checkbox"]:checked {
  /*ON*/
  background-color: rgba(6, 1, 2, 0.78);
}
input[type="checkbox"]:checked:before {
  background-color: rgb(45, 45, 45);
  left: 34px;
}
input[type="checkbox"]:checked:after {
  color: rgb(0, 0, 0);
}
.notification {

  z-index: 1001;
  position: fixed; /* 固定定位 */
  bottom: 2%; /* 距离顶部20px */
  left: 2%; /* 距离左侧20px */
  right:2%;
  width: 95%;
  height: auto;
  backdrop-filter: saturate(200%) blur(50px);
  color: rgba(255, 255, 255, 0.56); /* 文字颜色 */
  padding: 10px; /* 内边距 */
  border-radius: 20px; /* 边框圆角 */
  display: none; /* 默认不显示 */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* 阴影效果 */
}

.notification.show {
  display: block; /* 显示通知 */
}

.dialogContent{
  overflow: hidden;
}
.notify_title {
  text-align: center;
  font-family: 'SF Pro', sans-serif;
}

#v1{

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: -ms-device-fixed;
}

.hr_gradient1 {
  border: 0;
  height: 1px;
  background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}
.user:hover{
  box-shadow: 0 12px 12px 0 rgba(44, 36, 36, 0.18),
  0 12px  12px 0 rgba(44, 36, 36, 0.16);
}
.button{
  text-align: center;
  background-color: rgba(248,217,217,0);
  backdrop-filter: blur(20px);
  cursor: pointer;
  border-style: none;
  z-index: 1000;
  border-radius: 20px;

}
.button:hover{
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 12px 12px 0 rgba(44, 36, 36, 0.18),
  0 12px  12px 0 rgba(44, 36, 36, 0.16);
}
.yueduButton{
  height: 40px;
  width: 70px;
  border-radius: 10px;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  backdrop-filter: none;
}
.yueduButton:hover{
  backdrop-filter:None;
  transform: translate(-10%);
  transition: all 0.3s ease;

}
.yueduButton:hover:before{
  content: '阅读 ';

}
.yiyanbutton{
  backdrop-filter: none;
}
.yiyanbutton:hover{
  backdrop-filter: blur(50px);
}
.startblog{
  backdrop-filter: None;
  width:120px;
  height:60px;
}
.startblog:hover{
  backdrop-filter: blur(50px);
  transition: all 1s ease;
}
.startblog:hover:after{
  content: ' >';
}

.biaoti{
  text-align: center;
  width: auto;
}

.biaotiname{
  margin-top:9%;
  top:99%;
  width: auto;
  cursor:default;font-size: 50px;color: rgb(255,255,255);font-family: 'Pacifico', cursive;
}
.headers{
  width: auto;
  border-radius: 20px;
}
.container{
  border-radius:15px 15px 0 0;
  display: flex;
  height: auto;
  flex: auto;
  background-color: rgba(6, 1, 2, 0);
  color: rgba(255, 255, 255, 0.82);
}
.container1{
  width:45%;
  height: auto;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  margin-left: 50px;
  margin-right: 4px;
}
.container1:hover{
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: 0 12px 12px 0 rgba(44, 36, 36, 0.18),
  0 12px  12px 0 rgba(44, 36, 36, 0.16);
}
.container2{
  width:45%;
  height: auto;
  border-radius: 20px;
  backdrop-filter: blur(20px);

}
.container2:hover{
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: 0 12px 12px 0 rgba(44, 36, 36, 0.18),
  0 12px  12px 0 rgba(44, 36, 36, 0.16);
}

.to_ad{
  position: fixed; /* 固定位置 */
  backdrop-filter: None;
  color: rgba(255, 255, 255, 0);
  top: 200px;
  left: 90%; /* 左侧边缘 */
  margin-right: 10px;
  height:auto;
  width: auto;
  overflow: hidden;
}
.to_ad:hover{
  color: white;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),
  0 17px 50px 0 rgba(0,0,0,.19);
}
.back-up{
  color: rgba(255, 255, 255, 0.82);
  font-size: 10px;
  background-color: rgba(252, 252, 252, 0.06);
  z-index: 1000;
  width: 50px;
  height: 50px;
  position: fixed; /* 固定位置 */
  left: 96%;
  top: 75%;
}
.back-up:hover{
  color: rgb(0, 0, 0);
  background-color: rgba(28, 217, 224, 0.15);
}
.youlian{
  width: 150px;
  height: 50px;
}
.iconbutton{
  max-width:150px;
  color: rgba(255, 255, 255, 0);
}
.iconbutton:hover{
  color: rgb(255, 255, 255);

}
.yuanjiao{
  border-radius: 20px;
}
.close_notify_button1{
  background-color: rgba(255, 255, 255, 0.09);
  float: right;
  text-align: left;
  display: inline-block;
  width:23px;
  height: 23px;
}
.close_notify_button1:hover{
  background-color: #ee0000;
}
.close_notify_button1:hover:before{
  content: '⨉';
}
.close_notify_button:hover:after {
  content: ' 关闭';
  transform: translate(-50%);
  transition: all 0.3s ease;
}
.close_notify_button:hover {
  padding: 1px 10px; /* 调整按钮大小 */
}

.about_notify_button:hover:after {

  transform: translate(-50%);
  transition: all 0.3s ease;

}
.about_notify_button:hover {
  padding: 1px 10px; /* 调整按钮大小 */
}
.dialogContainer {
  z-index: 1001;
  position: fixed; /* 固定定位 */
  backdrop-filter:blur(0px);
  color: rgba(255, 255, 255, 0.56); /* 文字颜色 */
  padding: 10px; /* 内边距 */
  border-radius: 20px; /* 边框圆角 */
  display: none; /* 默认不显示 */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* 阴影效果 */
}
.dialogContent{
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width:100%;
  height: 87%; /* 高度根据内容自适应 */
}